<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% if page.meta-description %}
  <meta name="description" content="{{ page.meta-description }}">
  {% else %}
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}

  {% if page.share-img %}
  <meta property="og:image" content="{{ site.url }}{{ page.share-img }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/front.jpg" />
  {% endif %}

  <!-- Twitter summary cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@fleming_matt" />
  <meta name="twitter:creator" content="@fleming_matt" />

  <meta name="twitter:title" content="{{ page.title }}" />

  {% if page.share-img %}
  <meta name="twitter:image" content="{{ site.url }}{{ page.share-img }}" />
  {% else %}
  <meta name="twitter:image" content="{{ site.url }}/assets/front.jpg" />
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
